[submodule "VBS-MS-Office-App-Creator"]
	path = VBS-MS-Office-App-Creator
	url = https://github.com/ReneNyffenegger/VBS-MS-Office-App-Creator
[submodule "SetWindowsHookEx"]
	path = SetWindowsHookEx
	url = https://github.com/ReneNyffenegger/VBA-SetWindowsHookEx
